html {
    height: fit-content;
    width: 100%;
    padding: 0;
    font-family: "Abel", Helvetica, sans-serif;
    overflow: scroll;
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
}

.menu {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: #324ac3;
    height: fit-content;
}

.menu button {
    background-color: #324ac3;
    color: white;
    font-family: "Abel", Helvetica, sans-serif;
    width: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0px;
    cursor: pointer;
}

button:hover {
    background-color: #c8c8c8;
    color: black;
}

button {
    background-color: #324ac3;
    color: white;
    font-family: "Abel", Helvetica, sans-serif;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

#return-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #324ac3;
    color: white;
    font-family: "Abel", Helvetica, sans-serif;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 24px;
    cursor: pointer;
}

#return-to-top:hover {
    background-color: #c8c8c8;
}
